/*=================================
            CONCRETE
===================================*/
.concrete {
    width: 100%;
    height: 100vh;
    background: url(../images/concrete.jpg) no-repeat center center/cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Raleway', sans-serif;
    .center {
        z-index: 1;
        h3 {
            font-size: 3rem;
            font-weight: 400;
            text-transform: uppercase;
            font-style: normal;
            letter-spacing: .2em;
            line-height: 1.6em;
            color: white;
            z-index: 1;
        }

        .my-btn {
            width: 150px;
            border-radius: 0;
            padding: .5rem 0;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: .1rem;
            border: solid 1px #fff;
            color: white;
            &:hover {
                background: #363636;
                border: solid 1px #363636;
            }
        }
    }

    .overlay {
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba(0,0,0,.75);
        }
    }
}

/*=================================
            LOOK-AT
===================================*/
.concret {
    margin-bottom: 5rem;
    width: 100%;
    height: 100vh;
    background: url(../images/concret.jpg) no-repeat center center/cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .card {
        margin: 5rem 0;
        z-index: 1;
        color: white;
    }

    .overlay {
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba(0,0,0,.75);
        }
    }
}



/*=================================
                MAIN
===================================*/
.concrete-main {
    // CLIENTS
    .clients {
        margin-top: 3rem;
        .card {
            background: transparent;
            img {
                max-width: 100px;
                margin: auto;
                margin-bottom: 2rem;
            }
            .card-body {
                .card-title {
                    font-weight: bold;
                }
            }
        }
    }

    .interior-desc {
        padding: 5rem 0;
        margin-bottom: 5rem;
        .rightdown {
            margin-top: 5rem;
        }
    }
    .mgtop {
        margin-top: 5rem;
    }

    /*=================================
                HOME-INTERIOR
    ===================================*/
    .home-interior {
        .bottom {
            margin-bottom: 8rem;
        }
    }
    .card {
        height: 100%;
        .card-body {
            .card-title {
                font-family: 'Heebo',Helvetica,Arial,Lucida,sans-serif;
                font-weight: 100;
            }
            hr {
                border-color: #363636;
                margin: 3rem 0;
            }
        }
    }
    /*=================================
                interiorproject
    ===================================*/
    .interiorproject {
        .card {
            .card-header {
                hr {
                    border-color: #363636;
                    width: 50%;
                    margin: 3rem auto 5rem;
                }
            }
            .card-body {
                .carousel {
                    .carousel-indicators {
                        li {
                            width: 15px;
                            height: 15px;
                            border-radius: 50%;
                            background: #363636;
                            background-clip: padding-box;
                        }
                    }
                }
            }
        }
    }

    .client {
        .card {
            .card-header {
                hr {
                    border-color: #363636;
                    width: 50%;
                    margin: 3rem auto 5rem;
                }
            }
            .card-body {
                img {
                    width: 16%;
                    margin-bottom: 3rem;
                }
                .img-fluid {
                    max-width: 100%;
                    display: inline-block;
                }
            }
        }
    }

    // ROD
    .rod {
        width: 100%;
        height: 100vh;
        background: url(../images/rod.jpg) no-repeat center center/cover;
        background-attachment: fixed;
        font-family: 'Raleway', sans-serif;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .center {
            z-index: 1;
            color: white;
        }

        .overlay {
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgba(0,0,0,.75);
            }
        }
    }

    // CEMENT
    .cement {
        width: 100%;
        height: 100vh;
        background: url(../images/cement.jpg) no-repeat center center/cover;
        background-attachment: fixed;
        font-family: 'Raleway', sans-serif;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .center {
            z-index: 1;
            color: white;
        }

        .overlay {
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgba(0,0,0,.75);
            }
        }
    }

    // READY-MIX
    .readymix {
        width: 100%;
        height: 100vh;
        background: url(../images/ready.jpg) no-repeat center center/cover;
        background-attachment: fixed;
        font-family: 'Raleway', sans-serif;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .center {
            z-index: 1;
            color: white;
        }

        .overlay {
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgba(0,0,0,.75);
            }
        }
    }

    .details {
        background: transparent;
        margin-top: 100px;
        img {
            max-width: 100px;
            margin: auto;
            margin-bottom: 2rem;
        }
        .card-body {
            text-align: center;
            .card-title {
                font-weight: bold;
            }
        }
    }
}