/*=================================
            FOOTER
===================================*/
.footer {
    background: rgba(0, 0, 0, .9);
    // background: #2b2b2b;
    color: #fafafa;
    .text-dark {
        color: #999 !important;
        font-weight: bold;
        &:hover {
            color: #fff !important;
        }
    }
    .card {
        background: transparent;
        padding-top: 4rem;
        .card-body {
            a {
                color: #fafafa;
            }
            .nav {
                .nav-item {
                    .nav-link {
                        color: #fafafa;
                        padding: 0;
                        padding-right: .8rem;
                        i {
                            font-size: 26px;
                        }
                    }

                    .card-text {
                        font-size: 1.1rem;
                    }
                }
                &:hover {
                    .nav-item {
                        .nav-link {
                            transition: all .5s ease-in-out;
                            color: #333;
                        }
                        &:hover {
                            .nav-link {
                                color: #fafafa;
                            }
                        }
                    }
                }
            }
        }
    }
}