/*=================================
            FOOTER
===================================*/
.footer {
    background: #eee;
    .card {
        background: transparent;
        padding-top: 4rem;
        .card-body {
            a {
                color: #212529;
            }
            .nav {
                .nav-item {
                    .nav-link {
                        color: #212529;
                        padding: 0;
                        padding-right: .8rem;
                        i {
                            font-size: 26px;
                        }
                    }

                    .card-text {
                        font-size: 1.1rem;
                    }
                }
                &:hover {
                    .nav-item {
                        .nav-link {
                            transition: all .5s ease-in-out;
                            color: #aaa;
                        }
                        &:hover {
                            .nav-link {
                                color: #363636;
                            }
                        }
                    }
                }
            }
        }
    }
}