.mainHeader {
    background: rgba(0, 0, 0, .8);
    .navbar {
        .navbar-brand {
            font-size: 40px;
            font-weight: bold;
            color: white;
            &::first-letter {
                color: rgba(255, 255, 255, 0.75);
            }
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: white;
                    font-size: .9rem;
                    font-weight: bold;
                    left: .1rem;
                    text-transform: uppercase;
                    &:hover {
                        opacity: .75;
                    }
                }
            }
            .nav-item.active {
                .nav-link {
                    opacity: .75;
                }
            }
            .nav-item.dropdown {
                .dropdown-menu {
                    padding: 0;
                    background: rgba(255,255,255,.85);
                    border-radius: 0;
                    margin-top: 23px;
                    .dropdown-item {
                        padding: .5rem;
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: .9rem;
                        // color: rgba(15, 14, 14, 0.75);
                        color: #212321;
                        &:hover {
                            background: rgba(255,255,255,.5);
                        }
                        &:focus {
                            background: rgba(255,255,255,.5);
                            color: black;
                        }
                    }
                }
            }
        }
    }

    .sticky {
        position: fixed;
        z-index: 1111;
        width: 100%;
        top: 0;
        background: rgba(0, 0, 0, .75);
        vertical-align: middle;
    
        // .navbar-brand {
        //     width:
        //     img {
        //         height: 40px;
        //         width: 40px;
        //     }
        // }
    }
}