@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, header {
  height: 100%;
}

body {
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  overflow-x: hidden;
}

article, aside, figcaption, figure, footer, hgroup, main, section {
  overflow: hidden;
}

.header {
  background: rgba(0, 0, 0, 0.8);
}

.header .navbar .navbar-brand {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.header .navbar .navbar-brand::first-letter {
  color: rgba(255, 255, 255, 0.75);
}

.header .navbar .navbar-nav .nav-item .nav-link {
  color: white;
  font-size: .9rem;
  font-weight: bold;
  left: .1rem;
  text-transform: uppercase;
}

.header .navbar .navbar-nav .nav-item .nav-link:hover {
  opacity: .75;
}

.header .navbar .navbar-nav .nav-item.active .nav-link {
  opacity: .75;
}

.header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu {
  padding: 0;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 0;
  margin-top: 16px;
}

.header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
  padding: .5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .9rem;
  color: #212321;
}

.header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:hover {
  background: rgba(255, 255, 255, 0.5);
}

.header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:focus {
  background: rgba(255, 255, 255, 0.5);
  color: black;
}

.header .sticky {
  position: fixed;
  z-index: 1111;
  width: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.75);
  vertical-align: middle;
}

.header .carousel .carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.header .carousel .carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
}

.header .carousel .carousel-item img {
  max-height: 100%;
}

.header .carousel .carousel-item .carousel-caption {
  bottom: 240px;
}

.header .carousel .carousel-item .carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  margin-top: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.header .carousel .carousel-item .carousel-caption p {
  width: 75%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

.header .carousel .carousel-item .carousel-caption .slogan {
  font-size: 20px;
  letter-spacing: .25rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header .carousel .overlay:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.footer .card .card-body a {
  color: #212529;
}

.footer .card .card-body .nav .nav-item .nav-link {
  color: #212529;
  padding: 0;
  padding-right: .8rem;
}

.footer .card .card-body .nav .nav-item .nav-link i {
  font-size: 26px;
}

.footer .card .card-body .nav .nav-item:hover .nav-link {
  color: rgba(0, 0, 0, 0.75);
}

.footer .card .card-body .nav .nav-item .card-text {
  font-size: 1.1rem;
}

/*=================================
            GET-IN-TOUCH
===================================*/
.getintouch {
  width: 100%;
  height: 100vh;
  background: url(../images/contact.jpg) no-repeat center center/cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.getintouch .center {
  z-index: 1;
}

.getintouch .center h3 {
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  font-style: normal;
  letter-spacing: .2em;
  line-height: 1.6em;
  color: white;
  z-index: 1;
}

.getintouch .overlay:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

/*=================================
            DESCRIPTION
===================================*/
.descript {
  overflow: hidden;
}

.descript .sqr-row::before {
  content: '';
  display: table;
}

.descript .sqr-row h2 {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: .3em;
  text-decoration: none;
  line-height: 1.4em;
}

/*=================================
            PROJECT
===================================*/
.project {
  width: 100%;
  height: 100vh;
  background: url(../images/hero.jpg) no-repeat center center/cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.project .center {
  z-index: 1;
}

.project .center h3 {
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  font-style: normal;
  letter-spacing: .2em;
  line-height: 1.6em;
  color: white;
  z-index: 1;
}

.project .overlay:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

/*=================================
            PROJECT
===================================*/
.projects img {
  width: 270px;
  height: 140px;
}

/*=================================
                INTERIOR
===================================*/
.interior {
  width: 100%;
  height: 100vh;
  background: url(../images/interi.jpg) no-repeat center center/cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.interior .center {
  z-index: 1;
}

.interior .center h3 {
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  font-style: normal;
  letter-spacing: .2em;
  line-height: 1.6em;
  color: white;
  z-index: 1;
}

.interior .overlay:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

/*=================================
        INTERIOR-DETAILS
===================================*/
.interior-details .card .card-body .card-text {
  margin-top: 7rem;
  text-align: center;
  font-size: 32px;
  color: #363636;
  font-family: Arial;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0em;
  text-transform: none;
  line-height: 1.1em;
  font-family: 'Raleway', sans-serif;
}

/*=================================
            FLOOR-PLAN
===================================*/
.floorPlans {
  width: 100%;
  height: 100vh;
  background: url(../images/floorplan.jpg) no-repeat center center/cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.floorPlans .center {
  z-index: 1;
}

.floorPlans .center h3 {
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  font-style: normal;
  letter-spacing: .2em;
  line-height: 1.6em;
  color: white;
  z-index: 1;
}

.floorPlans .overlay:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

/*=================================
        FLOORPLAN-DETAILS
===================================*/
.floorplan-details .card .card-body .card-text {
  margin-top: 7rem;
  text-align: center;
  font-size: 32px;
  color: #363636;
  font-family: Arial;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
  text-transform: none;
  line-height: 1.1em;
  font-family: 'Raleway', sans-serif;
}

.floorplan-details .lightbox img {
  min-height: 200px;
}

.floorplan-details .floor {
  background: url(../images/floor.jpg) no-repeat center center/cover;
  height: 500px;
  width: 100%;
}

.floorplan-details .floor p {
  text-align: center;
  margin-top: 20%;
  font-size: 2rem;
  font-weight: bold;
  z-index: 1;
  color: white;
}

.floorplan-details .overlay:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

/*=================================
            PLAN-VIEW
===================================*/
.planview {
  width: 100%;
  height: 100vh;
  background: url(../images/floor.jpg) no-repeat center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-bottom: 5rem;
}

.planview .center {
  z-index: 1;
}

.planview .center h3 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
  font-style: normal;
  letter-spacing: .2em;
  line-height: 1.6em;
  color: white;
  z-index: 1;
}

.planview .overlay:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

/*=================================
        CREATIVE-PROCESS
===================================*/
.creativeprocess {
  width: 100%;
  height: 100vh;
  background: url(../images/create.jpg) no-repeat center center/cover;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.creativeprocess .center {
  z-index: 1;
}

.creativeprocess .center h3 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
  font-style: normal;
  letter-spacing: .2em;
  line-height: 1.6em;
  color: white;
  z-index: 1;
}

.creativeprocess .overlay:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
}

/*=================================
        CREATIVE-SLIDER
===================================*/
.creativeslider {
  height: 500px;
}

.creativeslider img {
  height: 100%;
}

/*=================================
            OUR-CLIENTS
===================================*/
.ourclients .item img {
  max-height: 150px;
  width: auto;
  max-width: 100%;
}

.ourclients .sliderControl {
  margin-bottom: 4rem;
}

.ourclients .sliderControl .owl-nav div {
  background: rgba(167, 163, 163, 0.5);
  position: static;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-size: 25px;
  line-height: 40px;
}

.ourclients .sliderControl .owl-nav div:hover {
  background: rgba(0, 0, 0, 0.75);
  color: white;
}
/*# sourceMappingURL=style.css.map */